
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>Surfing Attack</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1>Surfing Attack: inaudible command attack through solid materials</h1>
				<div class ="boxed">
					<p> Surfing Attack is using inaudible acoustic command to attack any voice control systems through different <b>solid materials</b>.</p>
					<p>The video below shows the basic information and function for Surfing Attack.</p>
				</div>

				<h1>Features</h1>

					<ul>
						<li class="question">
							<li>
								<b> What's the difference between <a href="papers/p103-zhangAemb.pdf">dolphinAttack</a> and <a href="https://lightcommands.com/">lightcommands?</a></b>

									<li class="answer">    <b><font color="red">Long distance attack</font>> with NLOS situation compares to dolphinAttack</b> It achieves longer than 30ft distance with certain materials</li>
									<li class="answer">    <b>None Line of sight attack.</b> It uses multiple solid media to attack victims.</li>
									<li class="answer">    <b>Attack multiple phones simultanously.</b> It can attack more than one phones in a same time.</li>

							</li>
							<br>
							<br>
							<br>
							<b> How do SurfingAttack work?</b>

								<p class="answer">
									By modulating the legitimate command to inaudible frequency band, then use a PZT transducer to transmit the demodulated viberation through different materials.
												</p>
							<b> What things can attackers do by using this?</b>
								<li class="answer">    Make fraud call using your phone </li>
								<li class="answer">    Get your phone lock password </li>
								<li class="answer">    interact with your devices which has voice control system</li>
						</li>
						<p></p>


					</ul>

				<iframe width="500" height="400" src="https://www.youtube.com/embed/pQw2zRAqVnI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1></h1>


					<h1> See SurfingAttack for different phones </h1>
					<div style="margin-top=3em;">
					<iframe title="Mi 8" width="390" height="250" src="https://www.youtube.com/embed/c3XE1ur3Fi4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Mi 8</iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/6xVJdAxLxBU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/Ta9bs16j2uw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/SJ4R012JV5I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


					</div>
					<br>

					<h1> See SurfingAttack for different functions </h1>
					<div style="margin-top=3em;">
					<iframe width="390" height="250" src="https://www.youtube.com/embed/3Whjh82ipts" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/4sCjplh-kE4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/zTxqCMJmyn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/3bgE92cMUj4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>
					<br>

					<h1> See SurfingAttack for different scenarios </h1>
					<iframe width="500" height="400" src="https://www.youtube.com/embed/wKeL4NiDgjU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<div style="margin-top=3em;">
					<iframe width="390" height="250" src="https://www.youtube.com/embed/Wyi5E5oFeBE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/GNgE6CFhEQs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/XI02jIRULHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/lL1h8fVteqc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<br>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/NRju2h8FaxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<iframe width="390" height="250" src="https://www.youtube.com/embed/w9l5k18J-Xo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

					</div>
					<br>





	</body>
</html>
